/*
Ionicons, v2.0.0
Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
https://twitter.com/benjsperry  https://twitter.com/ionicframework
MIT License: https://github.com/driftyco/ionicons
*/
// Ionicons Variables
// --------------------------

$ui-icon-is-extend: true !default;
$ui-icon-list: ()!default;
@if $ui-icon-is-extend {
  $ui-icon-list: map-merge((
    alert: "F101",
    alert-circled: "F100",
    android-add: "F2C7",
    android-add-circle: "F359",
    android-alarm-clock: "F35A",
    android-alert: "F35B",
    android-apps: "F35C",
    android-archive: "F2C9",
    android-arrow-back: "F2CA",
    android-arrow-down: "F35D",
    android-arrow-dropdown: "F35F",
    android-arrow-dropdown-circle: "F35E",
    android-arrow-dropleft: "F361",
    android-arrow-dropleft-circle: "F360",
    android-arrow-dropright: "F363",
    android-arrow-dropright-circle: "F362",
    android-arrow-dropup: "F365",
    android-arrow-dropup-circle: "F364",
    android-arrow-forward: "F30F",
    android-arrow-up: "F366",
    android-attach: "F367",
    android-bar: "F368",
    android-bicycle: "F369",
    android-boat: "F36A",
    android-bookmark: "F36B",
    android-bulb: "F36C",
    android-bus: "F36D",
    android-calendar: "F2D1",
    android-call: "F2D2",
    android-camera: "F2D3",
    android-cancel: "F36E",
    android-car: "F36F",
    android-cart: "F370",
    android-chat: "F2D4",
    android-checkbox: "F374",
    android-checkbox-blank: "F371",
    android-checkbox-outline: "F373",
    android-checkbox-outline-blank: "F372",
    android-checkmark-circle: "F375",
    android-clipboard: "F376",
    android-close: "F2D7",
    android-cloud: "F37A",
    android-cloud-circle: "F377",
    android-cloud-done: "F378",
    android-cloud-outline: "F379",
    android-color-palette: "F37B",
    android-compass: "F37C",
    android-contact: "F2D8",
    android-contacts: "F2D9",
    android-contract: "F37D",
    android-create: "F37E",
    android-delete: "F37F",
    android-desktop: "F380",
    android-document: "F381",
    android-done: "F383",
    android-done-all: "F382",
    android-download: "F2DD",
    android-drafts: "F384",
    android-exit: "F385",
    android-expand: "F386",
    android-favorite: "F388",
    android-favorite-outline: "F387",
    android-film: "F389",
    android-folder: "F2E0",
    android-folder-open: "F38A",
    android-funnel: "F38B",
    android-globe: "F38C",
    android-hand: "F2E3",
    android-hangout: "F38D",
    android-happy: "F38E",
    android-home: "F38F",
    android-image: "F2E4",
    android-laptop: "F390",
    android-list: "F391",
    android-locate: "F2E9",
    android-lock: "F392",
    android-mail: "F2EB",
    android-map: "F393",
    android-menu: "F394",
    android-microphone: "F2EC",
    android-microphone-off: "F395",
    android-more-horizontal: "F396",
    android-more-vertical: "F397",
    android-navigate: "F398",
    android-notifications: "F39B",
    android-notifications-none: "F399",
    android-notifications-off: "F39A",
    android-open: "F39C",
    android-options: "F39D",
    android-people: "F39E",
    android-person: "F3A0",
    android-person-add: "F39F",
    android-phone-landscape: "F3A1",
    android-phone-portrait: "F3A2",
    android-pin: "F3A3",
    android-plane: "F3A4",
    android-playstore: "F2F0",
    android-print: "F3A5",
    android-radio-button-off: "F3A6",
    android-radio-button-on: "F3A7",
    android-refresh: "F3A8",
    android-remove: "F2F4",
    android-remove-circle: "F3A9",
    android-restaurant: "F3AA",
    android-sad: "F3AB",
    android-search: "F2F5",
    android-send: "F2F6",
    android-settings: "F2F7",
    android-share: "F2F8",
    android-share-alt: "F3AC",
    android-star: "F2FC",
    android-star-half: "F3AD",
    android-star-outline: "F3AE",
    android-stopwatch: "F2FD",
    android-subway: "F3AF",
    android-sunny: "F3B0",
    android-sync: "F3B1",
    android-textsms: "F3B2",
    android-time: "F3B3",
    android-train: "F3B4",
    android-unlock: "F3B5",
    android-upload: "F3B6",
    android-volume-down: "F3B7",
    android-volume-mute: "F3B8",
    android-volume-off: "F3B9",
    android-volume-up: "F3BA",
    android-walk: "F3BB",
    android-warning: "F3BC",
    android-watch: "F3BD",
    android-wifi: "F305",
    aperture: "F313",
    archive: "F102",
    arrow-down-a: "F103",
    arrow-down-b: "F104",
    arrow-down-c: "F105",
    arrow-expand: "F25E",
    arrow-graph-down-left: "F25F",
    arrow-graph-down-right: "F260",
    arrow-graph-up-left: "F261",
    arrow-graph-up-right: "F262",
    arrow-left-a: "F106",
    arrow-left-b: "F107",
    arrow-left-c: "F108",
    arrow-move: "F263",
    arrow-resize: "F264",
    arrow-return-left: "F265",
    arrow-return-right: "F266",
    arrow-right-a: "F109",
    arrow-right-b: "F10A",
    arrow-right-c: "F10B",
    arrow-shrink: "F267",
    arrow-swap: "F268",
    arrow-up-a: "F10C",
    arrow-up-b: "F10D",
    arrow-up-c: "F10E",
    asterisk: "F314",
    at: "F10F",
    backspace: "F3BF",
    backspace-outline: "F3BE",
    bag: "F110",
    battery-charging: "F111",
    battery-empty: "F112",
    battery-full: "F113",
    battery-half: "F114",
    battery-low: "F115",
    beaker: "F269",
    beer: "F26A",
    bluetooth: "F116",
    bonfire: "F315",
    bookmark: "F26B",
    bowtie: "F3C0",
    briefcase: "F26C",
    bug: "F2BE",
    calculator: "F26D",
    calendar: "F117",
    camera: "F118",
    card: "F119",
    cash: "F316",
    chatbox: "F11B",
    chatbox-working: "F11A",
    chatboxes: "F11C",
    chatbubble: "F11E",
    chatbubble-working: "F11D",
    chatbubbles: "F11F",
    checkmark: "F122",
    checkmark-circled: "F120",
    checkmark-round: "F121",
    chevron-down: "F123",
    chevron-left: "F124",
    chevron-right: "F125",
    chevron-up: "F126",
    clipboard: "F127",
    clock: "F26E",
    close: "F12A",
    close-circled: "F128",
    close-round: "F129",
    closed-captioning: "F317",
    cloud: "F12B",
    code: "F271",
    code-download: "F26F",
    code-working: "F270",
    coffee: "F272",
    compass: "F273",
    compose: "F12C",
    connection-bars: "F274",
    contrast: "F275",
    crop: "F3C1",
    cube: "F318",
    disc: "F12D",
    document: "F12F",
    document-text: "F12E",
    drag: "F130",
    earth: "F276",
    easel: "F3C2",
    edit: "F2BF",
    egg: "F277",
    eject: "F131",
    email: "F132",
    email-unread: "F3C3",
    erlenmeyer-flask: "F3C5",
    erlenmeyer-flask-bubbles: "F3C4",
    eye: "F133",
    eye-disabled: "F306",
    female: "F278",
    filing: "F134",
    film-marker: "F135",
    fireball: "F319",
    flag: "F279",
    flame: "F31A",
    flash: "F137",
    flash-off: "F136",
    folder: "F139",
    fork: "F27A",
    fork-repo: "F2C0",
    forward: "F13A",
    funnel: "F31B",
    gear-a: "F13D",
    gear-b: "F13E",
    grid: "F13F",
    hammer: "F27B",
    happy: "F31C",
    happy-outline: "F3C6",
    headphone: "F140",
    heart: "F141",
    heart-broken: "F31D",
    help: "F143",
    help-buoy: "F27C",
    help-circled: "F142",
    home: "F144",
    icecream: "F27D",
    image: "F147",
    images: "F148",
    information: "F14A",
    information-circled: "F149",
    ionic: "F14B",
    ios-alarm: "F3C8",
    ios-alarm-outline: "F3C7",
    ios-albums: "F3CA",
    ios-albums-outline: "F3C9",
    ios-americanfootball: "F3CC",
    ios-americanfootball-outline: "F3CB",
    ios-analytics: "F3CE",
    ios-analytics-outline: "F3CD",
    ios-arrow-back: "F3CF",
    ios-arrow-down: "F3D0",
    ios-arrow-forward: "F3D1",
    ios-arrow-left: "F3D2",
    ios-arrow-right: "F3D3",
    ios-arrow-thin-down: "F3D4",
    ios-arrow-thin-left: "F3D5",
    ios-arrow-thin-right: "F3D6",
    ios-arrow-thin-up: "F3D7",
    ios-arrow-up: "F3D8",
    ios-at: "F3DA",
    ios-at-outline: "F3D9",
    ios-barcode: "F3DC",
    ios-barcode-outline: "F3DB",
    ios-baseball: "F3DE",
    ios-baseball-outline: "F3DD",
    ios-basketball: "F3E0",
    ios-basketball-outline: "F3DF",
    ios-bell: "F3E2",
    ios-bell-outline: "F3E1",
    ios-body: "F3E4",
    ios-body-outline: "F3E3",
    ios-bolt: "F3E6",
    ios-bolt-outline: "F3E5",
    ios-book: "F3E8",
    ios-book-outline: "F3E7",
    ios-bookmarks: "F3EA",
    ios-bookmarks-outline: "F3E9",
    ios-box: "F3EC",
    ios-box-outline: "F3EB",
    ios-briefcase: "F3EE",
    ios-briefcase-outline: "F3ED",
    ios-browsers: "F3F0",
    ios-browsers-outline: "F3EF",
    ios-calculator: "F3F2",
    ios-calculator-outline: "F3F1",
    ios-calendar: "F3F4",
    ios-calendar-outline: "F3F3",
    ios-camera: "F3F6",
    ios-camera-outline: "F3F5",
    ios-cart: "F3F8",
    ios-cart-outline: "F3F7",
    ios-chatboxes: "F3FA",
    ios-chatboxes-outline: "F3F9",
    ios-chatbubble: "F3FC",
    ios-chatbubble-outline: "F3FB",
    ios-checkmark: "F3FF",
    ios-checkmark-empty: "F3FD",
    ios-checkmark-outline: "F3FE",
    ios-circle-filled: "F400",
    ios-circle-outline: "F401",
    ios-clock: "F403",
    ios-clock-outline: "F402",
    ios-close: "F406",
    ios-close-empty: "F404",
    ios-close-outline: "F405",
    ios-cloud: "F40C",
    ios-cloud-download: "F408",
    ios-cloud-download-outline: "F407",
    ios-cloud-outline: "F409",
    ios-cloud-upload: "F40B",
    ios-cloud-upload-outline: "F40A",
    ios-cloudy: "F410",
    ios-cloudy-night: "F40E",
    ios-cloudy-night-outline: "F40D",
    ios-cloudy-outline: "F40F",
    ios-cog: "F412",
    ios-cog-outline: "F411",
    ios-color-filter: "F414",
    ios-color-filter-outline: "F413",
    ios-color-wand: "F416",
    ios-color-wand-outline: "F415",
    ios-compose: "F418",
    ios-compose-outline: "F417",
    ios-contact: "F41A",
    ios-contact-outline: "F419",
    ios-copy: "F41C",
    ios-copy-outline: "F41B",
    ios-crop: "F41E",
    ios-crop-strong: "F41D",
    ios-download: "F420",
    ios-download-outline: "F41F",
    ios-drag: "F421",
    ios-email: "F423",
    ios-email-outline: "F422",
    ios-eye: "F425",
    ios-eye-outline: "F424",
    ios-fastforward: "F427",
    ios-fastforward-outline: "F426",
    ios-filing: "F429",
    ios-filing-outline: "F428",
    ios-film: "F42B",
    ios-film-outline: "F42A",
    ios-flag: "F42D",
    ios-flag-outline: "F42C",
    ios-flame: "F42F",
    ios-flame-outline: "F42E",
    ios-flask: "F431",
    ios-flask-outline: "F430",
    ios-flower: "F433",
    ios-flower-outline: "F432",
    ios-folder: "F435",
    ios-folder-outline: "F434",
    ios-football: "F437",
    ios-football-outline: "F436",
    ios-game-controller-a: "F439",
    ios-game-controller-a-outline: "F438",
    ios-game-controller-b: "F43B",
    ios-game-controller-b-outline: "F43A",
    ios-gear: "F43D",
    ios-gear-outline: "F43C",
    ios-glasses: "F43F",
    ios-glasses-outline: "F43E",
    ios-grid-view: "F441",
    ios-grid-view-outline: "F440",
    ios-heart: "F443",
    ios-heart-outline: "F442",
    ios-help: "F446",
    ios-help-empty: "F444",
    ios-help-outline: "F445",
    ios-home: "F448",
    ios-home-outline: "F447",
    ios-infinite: "F44A",
    ios-infinite-outline: "F449",
    ios-information: "F44D",
    ios-information-empty: "F44B",
    ios-information-outline: "F44C",
    ios-ionic-outline: "F44E",
    ios-keypad: "F450",
    ios-keypad-outline: "F44F",
    ios-lightbulb: "F452",
    ios-lightbulb-outline: "F451",
    ios-list: "F454",
    ios-list-outline: "F453",
    ios-location: "F456",
    ios-location-outline: "F455",
    ios-locked: "F458",
    ios-locked-outline: "F457",
    ios-loop: "F45A",
    ios-loop-strong: "F459",
    ios-medical: "F45C",
    ios-medical-outline: "F45B",
    ios-medkit: "F45E",
    ios-medkit-outline: "F45D",
    ios-mic: "F461",
    ios-mic-off: "F45F",
    ios-mic-outline: "F460",
    ios-minus: "F464",
    ios-minus-empty: "F462",
    ios-minus-outline: "F463",
    ios-monitor: "F466",
    ios-monitor-outline: "F465",
    ios-moon: "F468",
    ios-moon-outline: "F467",
    ios-more: "F46A",
    ios-more-outline: "F469",
    ios-musical-note: "F46B",
    ios-musical-notes: "F46C",
    ios-navigate: "F46E",
    ios-navigate-outline: "F46D",
    ios-nutrition: "F470",
    ios-nutrition-outline: "F46F",
    ios-paper: "F472",
    ios-paper-outline: "F471",
    ios-paperplane: "F474",
    ios-paperplane-outline: "F473",
    ios-partlysunny: "F476",
    ios-partlysunny-outline: "F475",
    ios-pause: "F478",
    ios-pause-outline: "F477",
    ios-paw: "F47A",
    ios-paw-outline: "F479",
    ios-people: "F47C",
    ios-people-outline: "F47B",
    ios-person: "F47E",
    ios-person-outline: "F47D",
    ios-personadd: "F480",
    ios-personadd-outline: "F47F",
    ios-photos: "F482",
    ios-photos-outline: "F481",
    ios-pie: "F484",
    ios-pie-outline: "F483",
    ios-pint: "F486",
    ios-pint-outline: "F485",
    ios-play: "F488",
    ios-play-outline: "F487",
    ios-plus: "F48B",
    ios-plus-empty: "F489",
    ios-plus-outline: "F48A",
    ios-pricetag: "F48D",
    ios-pricetag-outline: "F48C",
    ios-pricetags: "F48F",
    ios-pricetags-outline: "F48E",
    ios-printer: "F491",
    ios-printer-outline: "F490",
    ios-pulse: "F493",
    ios-pulse-strong: "F492",
    ios-rainy: "F495",
    ios-rainy-outline: "F494",
    ios-recording: "F497",
    ios-recording-outline: "F496",
    ios-redo: "F499",
    ios-redo-outline: "F498",
    ios-refresh: "F49C",
    ios-refresh-empty: "F49A",
    ios-refresh-outline: "F49B",
    ios-reload: "F49D",
    ios-reverse-camera: "F49F",
    ios-reverse-camera-outline: "F49E",
    ios-rewind: "F4A1",
    ios-rewind-outline: "F4A0",
    ios-rose: "F4A3",
    ios-rose-outline: "F4A2",
    ios-search: "F4A5",
    ios-search-strong: "F4A4",
    ios-settings: "F4A7",
    ios-settings-strong: "F4A6",
    ios-shuffle: "F4A9",
    ios-shuffle-strong: "F4A8",
    ios-skipbackward: "F4AB",
    ios-skipbackward-outline: "F4AA",
    ios-skipforward: "F4AD",
    ios-skipforward-outline: "F4AC",
    ios-snowy: "F4AE",
    ios-speedometer: "F4B0",
    ios-speedometer-outline: "F4AF",
    ios-star: "F4B3",
    ios-star-half: "F4B1",
    ios-star-outline: "F4B2",
    ios-stopwatch: "F4B5",
    ios-stopwatch-outline: "F4B4",
    ios-sunny: "F4B7",
    ios-sunny-outline: "F4B6",
    ios-telephone: "F4B9",
    ios-telephone-outline: "F4B8",
    ios-tennisball: "F4BB",
    ios-tennisball-outline: "F4BA",
    ios-thunderstorm: "F4BD",
    ios-thunderstorm-outline: "F4BC",
    ios-time: "F4BF",
    ios-time-outline: "F4BE",
    ios-timer: "F4C1",
    ios-timer-outline: "F4C0",
    ios-toggle: "F4C3",
    ios-toggle-outline: "F4C2",
    ios-trash: "F4C5",
    ios-trash-outline: "F4C4",
    ios-undo: "F4C7",
    ios-undo-outline: "F4C6",
    ios-unlocked: "F4C9",
    ios-unlocked-outline: "F4C8",
    ios-upload: "F4CB",
    ios-upload-outline: "F4CA",
    ios-videocam: "F4CD",
    ios-videocam-outline: "F4CC",
    ios-volume-high: "F4CE",
    ios-volume-low: "F4CF",
    ios-wineglass: "F4D1",
    ios-wineglass-outline: "F4D0",
    ios-world: "F4D3",
    ios-world-outline: "F4D2",
    ipad: "F1F9",
    iphone: "F1FA",
    ipod: "F1FB",
    jet: "F295",
    key: "F296",
    knife: "F297",
    laptop: "F1FC",
    leaf: "F1FD",
    levels: "F298",
    lightbulb: "F299",
    link: "F1FE",
    load-a: "F29A",
    load-b: "F29B",
    load-c: "F29C",
    load-d: "F29D",
    location: "F1FF",
    lock-combination: "F4D4",
    locked: "F200",
    log-in: "F29E",
    log-out: "F29F",
    loop: "F201",
    magnet: "F2A0",
    male: "F2A1",
    man: "F202",
    map: "F203",
    medkit: "F2A2",
    merge: "F33F",
    mic-a: "F204",
    mic-b: "F205",
    mic-c: "F206",
    minus: "F209",
    minus-circled: "F207",
    minus-round: "F208",
    model-s: "F2C1",
    monitor: "F20A",
    more: "F20B",
    mouse: "F340",
    music-note: "F20C",
    navicon: "F20E",
    navicon-round: "F20D",
    navigate: "F2A3",
    network: "F341",
    no-smoking: "F2C2",
    nuclear: "F2A4",
    outlet: "F342",
    paintbrush: "F4D5",
    paintbucket: "F4D6",
    paper-airplane: "F2C3",
    paperclip: "F20F",
    pause: "F210",
    person: "F213",
    person-add: "F211",
    person-stalker: "F212",
    pie-graph: "F2A5",
    pin: "F2A6",
    pinpoint: "F2A7",
    pizza: "F2A8",
    plane: "F214",
    planet: "F343",
    play: "F215",
    playstation: "F30A",
    plus: "F218",
    plus-circled: "F216",
    plus-round: "F217",
    podium: "F344",
    pound: "F219",
    power: "F2A9",
    pricetag: "F2AA",
    pricetags: "F2AB",
    printer: "F21A",
    pull-request: "F345",
    qr-scanner: "F346",
    quote: "F347",
    radio-waves: "F2AC",
    record: "F21B",
    refresh: "F21C",
    reply: "F21E",
    reply-all: "F21D",
    ribbon-a: "F348",
    ribbon-b: "F349",
    sad: "F34A",
    sad-outline: "F4D7",
    scissors: "F34B",
    search: "F21F",
    settings: "F2AD",
    share: "F220",
    shuffle: "F221",
    skip-backward: "F222",
    skip-forward: "F223",
    social-android: "F225",
    social-android-outline: "F224",
    social-angular: "F4D9",
    social-angular-outline: "F4D8",
    social-apple: "F227",
    social-apple-outline: "F226",
    social-bitcoin: "F2AF",
    social-bitcoin-outline: "F2AE",
    social-buffer: "F229",
    social-buffer-outline: "F228",
    social-chrome: "F4DB",
    social-chrome-outline: "F4DA",
    social-codepen: "F4DD",
    social-codepen-outline: "F4DC",
    social-css3: "F4DF",
    social-css3-outline: "F4DE",
    social-designernews: "F22B",
    social-designernews-outline: "F22A",
    social-dribbble: "F22D",
    social-dribbble-outline: "F22C",
    social-dropbox: "F22F",
    social-dropbox-outline: "F22E",
    social-euro: "F4E1",
    social-euro-outline: "F4E0",
    social-facebook: "F231",
    social-facebook-outline: "F230",
    social-foursquare: "F34D",
    social-foursquare-outline: "F34C",
    social-freebsd-devil: "F2C4",
    social-github: "F233",
    social-github-outline: "F232",
    social-google: "F34F",
    social-google-outline: "F34E",
    social-googleplus: "F235",
    social-googleplus-outline: "F234",
    social-hackernews: "F237",
    social-hackernews-outline: "F236",
    social-html5: "F4E3",
    social-html5-outline: "F4E2",
    social-instagram: "F351",
    social-instagram-outline: "F350",
    social-javascript: "F4E5",
    social-javascript-outline: "F4E4",
    social-linkedin: "F239",
    social-linkedin-outline: "F238",
    social-markdown: "F4E6",
    social-nodejs: "F4E7",
    social-octocat: "F4E8",
    social-pinterest: "F2B1",
    social-pinterest-outline: "F2B0",
    social-python: "F4E9",
    social-reddit: "F23B",
    social-reddit-outline: "F23A",
    social-rss: "F23D",
    social-rss-outline: "F23C",
    social-sass: "F4EA",
    social-skype: "F23F",
    social-skype-outline: "F23E",
    social-snapchat: "F4EC",
    social-snapchat-outline: "F4EB",
    social-tumblr: "F241",
    social-tumblr-outline: "F240",
    social-tux: "F2C5",
    social-twitch: "F4EE",
    social-twitch-outline: "F4ED",
    social-twitter: "F243",
    social-twitter-outline: "F242",
    social-usd: "F353",
    social-usd-outline: "F352",
    social-vimeo: "F245",
    social-vimeo-outline: "F244",
    social-whatsapp: "F4F0",
    social-whatsapp-outline: "F4EF",
    social-windows: "F247",
    social-windows-outline: "F246",
    social-wordpress: "F249",
    social-wordpress-outline: "F248",
    social-yahoo: "F24B",
    social-yahoo-outline: "F24A",
    social-yen: "F4F2",
    social-yen-outline: "F4F1",
    social-youtube: "F24D",
    social-youtube-outline: "F24C",
    soup-can: "F4F4",
    soup-can-outline: "F4F3",
    speakerphone: "F2B2",
    speedometer: "F2B3",
    spoon: "F2B4",
    star: "F24E",
    stats-bars: "F2B5",
    steam: "F30B",
    stop: "F24F",
    thermometer: "F2B6",
    thumbsdown: "F250",
    thumbsup: "F251",
    toggle: "F355",
    toggle-filled: "F354",
    transgender: "F4F5",
    trash-a: "F252",
    trash-b: "F253",
    trophy: "F356",
    tshirt: "F4F7",
    tshirt-outline: "F4F6",
    umbrella: "F2B7",
    university: "F357",
    unlocked: "F254",
    upload: "F255",
    usb: "F2B8",
    videocamera: "F256",
    volume-high: "F257",
    volume-low: "F258",
    volume-medium: "F259",
    volume-mute: "F25A",
    wand: "F358",
    waterdrop: "F25B",
    wifi: "F25C",
    wineglass: "F2B9",
    woman: "F25D",
    wrench: "F2BA",
    xbox: "F30C"
  ), $ui-icon-list);
}
