$ui-icon-font-family: #{$css-prefix}icons !default;
$ui-icon-font-path: "~@udock/vue-plugin-ui--icon/src/fonts/#{$css-prefix}icons"!default;
$ui-icon-font-version: "1.0.0" !default;
$ui-icon-is-extend: true !default;

$ui-icon-cls : #{$css-prefix}icon !default;
